<div class="row rounded border perspective-result-container align-items-center">
    <div class="col-sm-6 h-100 d-table">
        <div class="results-title-container">
      <div><span class="title align-middle">Your Perspective</span></div>
      <div><span class="perspective-detail align-middle">Your Perspective Type is <%=@result%></span></div>
      </div>
    </div>
    
    <div class="col-sm-6">
        <%= render :partial => "result_row", :collection => @DimensionsCalculator.getDimensions, :as => :dimension %>
    </div>
  </div>